# Ignore dependencies and build artifacts
node_modules
.next
dist

# Ignore logs and cache
npm-debug.log
yarn-error.log
pnpm-debug.log
.DS_Store

# Ignore environment variables and Git files
.env
.env.local
.env.development
.env.production
.git
.gitignore
