@tailwind base;
@tailwind components;
@tailwind utilities;


.shopping-cart * {
    scrollbar-width: thin;
    scrollbar-color: #2EC1AC #DFE9EB;
}

.shopping-cart *::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}

.shopping-cart *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

.shopping-cart *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2EC1AC;
}

.shopping-cart *::-webkit-scrollbar-thumb:hover {
    background-color: #21A59F;
}

.shopping-cart *::-webkit-scrollbar-thumb:active {
    background-color: #17858A;
}


.bg-header {
    background-image: url('/images/cover/cover.webp');
    background-repeat: no-repeat;
}

/* backgroundImage: 'url(/images/cover.webp)' */



@media screen and (min-width: 768px) {
    .inspiration .swiper-slide-active > div {
        height: 100%;
        transition: all 0.5s ease-in-out;
    }
}